<div class="center main">
  <p>オープンデータ横断検索システム</p>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3 center">
      <%= form_tag("/search", method: "get") do %>
      <%= text_field :query, :size => "20x1000" %>
      <%= submit_tag("検索") %>
    <% end %>
  </div>
</div>