<% provide(:title, "管理者画面") %>

<h1>管理者画面</h1>

ドロップダウンリストを作成！
<p>自動データ更新機能</p>
<%= button_to '実行', {:controller => 'connections', :action => 'api'} %>
<br>
<p>手動データ更新機能</p>
<%= button_to '実行', {:controller => 'connections', :action => 'noapi'} %>