@import "bootstrap-sprockets";
@import "bootstrap";

/*クラスのCSS*/

.center{
    text-align: center
}

.main{
    font-size: 30pt;
    margin: 150px 25px 25px 25px
}

/*要素のCSS*/

h1 {
    font-size: 30pt;
    margin: 50px 25px 25px 25px
}