@import "bootstrap-sprockets";
@import "bootstrap";

/*クラスのCSS*/

.center{
    text-align: center
}

.main{
    font-size: 35pt;
    margin: 150px 25px 25px 25px
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.inputBoxSize{
    width: 1000px;
    height: 25px;
}

/*要素のCSS*/

h1 {
    font-size: 30pt;
    margin: 75px 25px 25px 25px
}